# Compiled files
*.tfstate
*.tfstate.backup
fabfile.pyc

# Module directory
.terraform/

# RPMS
*.rpm

# keys
/resources/testadmin.pub
id_rsa.pub
terraform_west.pem

/platforms/aws/py-elk-out
/platforms/aws/aws-elk-plan
/platforms/azure/ELK-plan

