# Compiled files
*.tfstate
*.tfstate.backup

# Module directory
.terraform/

# RPMS
*.rpm

# keys
/resources/testadmin.pub
id_rsa.pub

/platforms/aws/py-elk-out
/platforms/aws/aws-elk-plan
/platforms/azure/ELK-plan
